@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #FFFFFF;
    --netlfix-red: #E50914;
    --secondary-color: #000000;
}

body {
    font-family: "Ubuntu", serif;
    color: var(--text-color);
    font-size: 16px;
    background-color: #1a1919;
    overflow-x: hidden;
}

.header-container {
    padding: 0 2rem;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: transparent;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
    transition: 0.3s ease-in-out;
}

header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header > nav > .nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 0 2rem;
}

header > nav > .nav-right {
    padding: 1rem;
}

header > nav > div > img{
    width: 100px;
}

header > nav > div > ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
}

header > nav > div > ul > li > a{
    text-decoration: none;
    color: var(--text-color);
}

.profile-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profile-container > img {
    cursor: pointer;
}

.profile-container > i {
    cursor: pointer;
}

/*Main*/

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 40vh;
    height: auto;

    background-image: url(/assets/home-bg.svg);
    background-size: cover;
    background-position: center;

    height: 720px; /* gambiarra remover e deixar auto mas fica assim por enquanto */
    background-color: rgba(0, 0, 0, 0.3); /* Ajuste o nível de escuridão */
    background-blend-mode: multiply; /* Aplica a cor sobre a imagem */
    /*filter: brightness();*/
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 4rem;
    position: relative;
    top: 64px
}

.text-container img {
    margin-bottom: 2rem;
    width: 230px;
}

.text-container > p {
    margin-bottom: 2rem;
}

.text-button {
    height: 40px;
    display: flex;
    gap: 1rem;
}

.play-button {
    display: flex;
    align-items: center;
    padding:  0.8rem 1.8rem 0.8rem 1.1rem;
    background-color: #F6F6F6;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
}

.play-button i {
    font-size: 2rem;
    color: #000000;
}

.more-info-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding:  0.8rem 1.8rem 0.8rem 1.1rem;
    background-color: #cccccc73;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
}

.more-info-button i {
    font-size: 1.5rem;
    color: #F6F6F6;
}

/*Text grid*/
.title-grid-1 {
    padding: 1rem 0 0 4rem;
    position: relative;
    top: 2rem;
    width: 100%;
}

.grid-wrapper {
    width: 100%;
    overflow-x: scroll;
}

.grid-wrapper::-webkit-scrollbar {
    width: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 220px);
    gap: 8px;
    padding: 1rem 0 0 4rem;
    width: 100%;
    position: relative;
    top: 2rem;
}

.grid-img:hover {
    cursor: pointer;
    transform: scale(1.04);
}

/*Video*/

.video-container {
    background-color: #181818;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.top-10-item {
    position: relative;
    left: -10%;
}

footer {
    width: 100%;
    min-height: 40vh;
    height: auto;
    padding: 2rem 8rem 0 8rem ;
    background-color: #181818;
}

footer > .social-link {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    padding: 1rem;
    gap: 1rem;
}

footer > .social-link > a {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    text-decoration: none;
    color: #000000;
    margin-bottom: 1rem;
}

footer > .social-link > a > i{
    font-size: 1.6rem;
    color: #FFFFFF;
}

footer > .footer-link {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    text-decoration: none;
    color: #000000;
}

footer > .footer-link > span {
    margin-bottom: 1rem;
}

footer > .footer-link > span > a {
    text-decoration: none;
    color: #ccc;
    filter: brightness(0.7);
    font-size: 0.8rem;
}

.code-service {
    margin: 4rem 0 2rem 0;
}

.code-service > a { 
    border: 2px solid #ccc;
    filter: brightness(0.5);
    text-decoration: none;
    color: #ccc;
    font-size: 0.8rem;
    padding: 10px 8px;
    cursor: pointer;
}

.copyright > p{
    color: #ccc;
    filter: brightness(0.7);
    font-size: 0.8rem;
    padding-bottom: 2rem;
}

/*Media Queries*/

@media screen and (max-width: 1044px) {

    /*Text Container*/

    .text-container {
        width: 60%;
    }
}

@media screen and (max-width: 852px) {
    /*Header*/

    header > nav > div > ul {
    display: none;
}   

    /*Espaçamento de padding*/

    /*Text Container*/

    .home-container {
        align-items: center;
    }
    .text-container > p {
        display: none;
    }
    .text-container {
        margin-bottom: 0.5rem;
    }
    .text-container img {
        margin-bottom: 4rem;
        width: 100%;
    }
    .text-container .text-button a {
        margin: 0 auto;
    }

    /*Grid / Home*/

    .grid-container{
        padding: 1rem 0 0 2rem;
    }

    /*Footer*/

    footer {
        padding: 2rem;
    }
}

@media screen and (max-width: 852px) {

    /*Header*/

    .header-container {
        padding: 0;
    }
    header > nav > .nav-left{
        padding: 0 1rem;
    }
    header > nav > .nav-right > div > .bi-search, .bi-bell{
        display: none;
    }


    /*Text Container*/

    .text-container {
        width: 100%;
    }
    .text-container img {
        height: 250px;
    }
    .title-grid-1{
        padding: 1rem 0 0 2rem
    }
}  