@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #FFFFFF;
    --netlfix-red: #E50914;
    --secondary-color: #000000;
}

body{
    font-family: "Poppins", serif;
    color: var(--text-color);
    font-size: 16px;
    background-color: #1a1919;
    overflow-x: hidden;
}

.header-container {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: transparent;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
}

header > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
header > nav > img{
    width: 100px;
    position: relative;
    left: -6%;
}
header > nav > ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    position: relative;
    left: -20%;
}
header > nav > ul > li > a{
    text-decoration: none;
    color: var(--text-color);
}

.profile-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profile-container > img {
    cursor: pointer;
}

.profile-container > i {
    cursor: pointer;
}

/*Main*/

.home-container {
    background-image: url(/assets/Hero.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    height: 730px; /* gambiarra remover e deixar auto mas fica assim por enquanto */
    background-color: rgba(0, 0, 0, 0.3); /* Ajuste o nível de escuridão */
    background-blend-mode: multiply; /* Aplica a cor sobre a imagem */
    /*filter: brightness();*/
    display: flex;
    flex-direction: column;
}

.text-container img {
    display: block;
    margin-bottom: 2rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 4rem;
    position: relative;
    top: 64px;
}

.text-container > p {
    margin-bottom: 2rem;
}

.text-button {
    height: 40px;
    display: flex;
    gap: 1rem;
}

.play-button {
    display: flex;
    align-items: center;
    padding:  0.8rem 1.8rem 0.8rem 1.1rem;
    background-color: #F6F6F6;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
}

.play-button i {
    font-size: 2rem;
    color: #000000;
}

.more-info-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding:  0.8rem 1.8rem 0.8rem 1.1rem;
    background-color: #cccccc73;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
}

.more-info-button i {
    font-size: 1.5rem;
    color: #F6F6F6;
}

/*Text grid*/
.title-grid-1 {
    padding: 1rem 0 0 4rem;
    position: relative;
    top: 2rem;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 220px);
    gap: 8px;
    padding: 1rem 0 0 4rem;
    width: 100%;
    position: relative;
    top: 2rem;
    margin-bottom: 5rem;
}

.grid-img:hover {
    cursor: pointer;
    transform: scale(1.04);
}

/*Video*/

.video-container {
    background-color: #181818;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.top-10-item {
    position: relative;
    left: -10%;
}

.top-10-text {
    position: relative;
    left: -30%;
    width: 512px;
}


