@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #FFFFFF;
    --netlfix-red: #E50914;
    --secondary-color: #000000;
}

body {
    font-family: "Ubuntu", serif;
    color: var(--text-color);
    font-size: 16px;
    overflow-x: hidden;
}

/*Header*/

.header-container{
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: transparent;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
}

.login-header {
    left: 0;
    right: 0;
}

.header-container nav{
    position: relative;
    left: 10%;
    top: 8px;
}

.logo img {
    width: 140px;
    margin: 16px 0 0 16px;
}

/*Main*/

/*Login form*/

.login-container {
    background-image: url(/assets/netflix-bg.jpg) ;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste o nível de escuridão */
    background-blend-mode: multiply; /* Aplica a cor sobre a imagem */
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}

.login-box {
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
    max-width: 450px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}
.login-box h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 28px;
    font-weight: 500;
}

.input-box {
    margin-bottom: 1rem;
    width: 100%;
    height: 50px;
    padding: 16px 20px;
    border-radius: 4px;
    border: none;
    background: #35353549;
    color: white;
    font-size: 16px;
}

.input-box > input::placeholder {
    color: var(--text-color);
}

.login-box > form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
}

.login-box > form > button {
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    background-color: var(--netlfix-red);
    color: var(--text-color);
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.login-box > form > button:hover {
    filter: brightness(0.8);
}

.text-or {
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.login-box > form > a {
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.code-acess {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem; 
    font-weight: 400;
    background-color: #5a585880;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.code-acess:hover {
    filter: brightness(0.8);
}

.forget-pass {
    font-weight: 300;
}

.forget-pass:hover {
    text-decoration: underline;
    filter: brightness(0.8);
}

.help {
    display: flex;
    gap: 8px;
    position: relative;
    left: -26%;
    margin-bottom: 1rem;
}

.help > span > input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    top: 3px;
    /*Estilizar esse carinha aqui-- label?*/
}

.help > a {
    text-decoration: none;
    color: var(--text-color);
}

.new-here {
    position: relative;
    right: 32px;
    color: #ccccccc5;
    margin-bottom: 1rem
}

.new-here > a {
    text-decoration: none;
    color: var(--text-color);
}

.new-here > a:hover {
    text-decoration: underline;
    color: var(--text-color);
}

.recaptcha {
    font-size: 12px;
    color: #ccccccc5;
}

.recaptcha > a {
    text-decoration: none;
    color: #0071eb;
}

.recaptcha > a:hover {
    text-decoration: underline;
}

hr {
    display: none;
    border: 1px solid #ccc;
    filter: brightness(0.4);
}

/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 86vh;
    height: auto;
    padding: 2rem 8rem 4rem 8rem ;
    background-color: #000000;
}

footer > .call-us {
    margin-bottom: 2rem;
    font-size: 1rem; 
}

footer > .call-us > p {
    color: #ccc;
    filter: brightness(0.7);
}

footer > .call-us p > a {
    color: #FFFFFF;
    filter: brightness(0.9);
    text-decoration: none;
}

footer > .call-us > p > a:hover {
    text-decoration: underline;
}

footer > .footer-link > nav > ul {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    color: #000000;
}

footer > .footer-link > nav > ul > li {
    margin-bottom: 1rem;
}

footer > .footer-link > nav > ul > li > a {
    text-decoration: underline;
    color: #ccc;
    filter: brightness(0.7);
    font-size: 0.9rem;
}

footer > .select-container > .select-language {
    padding: 6px 36px 6px 34px;
    color: var(--text-color);
    font-size: 16px;
    border-radius: 4px;
    /*Translate icon*/

    background: url(/assets/translate.png) no-repeat left center;
    background-position-x: 0.8rem;
    background-size: 14px;
    background-color: #5a585880;
}

footer > .select-container > select > option {
    color: var(--secondary-color);
}

@media screen and (max-width: 959px) {

    /*Header*/

    .logo > img {
        width: 90px;
    }
}

@media screen and (max-width: 599px) {

    /*Login form*/

    .login-container {
        background-color: #000000;
    }
    .login-box{
        padding: 2rem;
    }
    form > input, button, p, a{
        width: 100%;
    }

    form > p {
        text-align: center;
    }
    .help {
    left: -29%;
    }
    .new-here {
        left: -16%;
    }
    .recaptcha {
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    hr {
        display: block;
    }

    /*Footer*/

    footer {
        min-height: 20vh;
        height: auto;
        padding: 2rem;
    }

    footer > .footer-link {
        display: grid;
        grid-template-columns: repeat( 4, 1fr);
        color: #000000;
        gap: 1rem;
    }
}